:root {
    --background-dimmer: rgba(0, 0, 0, 0.3);
    --background: #1D1F20;
    --background-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='530' height='530' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%230E456D' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2325CBFF'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    --person-d-color: rgb(150, 182, 237);
    --person-b: #292929;
    --person-hover: rgb(61, 76, 243);
    --gold: #FFD700;
    --silver: #eaeaeae4;
    --bronze: #e47c14;
    font-size: 62.5%;
}
*{box-sizing: border-box;}
*::-webkit-scrollbar{display: none;}
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--background);
    background-image: var(--background-svg);
}

/* page layout */
.top {
    height: 17%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.board-title {
    color: rgb(255, 255, 255);
    font-family: 'Orbitron', monospace, sans-serif;
    font-size: 50px;
    letter-spacing: 1px;
}
#title-break {display: none;}
.leaderboard {
    height: 83%;
    width: 100%;
    overflow-y: scroll;
    padding-bottom: 12px;
}

/* person layout */
.person {
    width: 35%;
    height: 110px;
    margin: 12px auto 12px auto;
    background-color: var(--person-b);
    outline: 3px solid transparent;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}
.person > .person-rank > img {
    height: 64px;
    aspect-ratio: 1/1;
    pointer-events: none;
}
.left {
    height: 100%;
    width: 75%;
    background-color: var(--person-b);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
}
.person-name {
    font-size: 35px;
    font-family: 'Tomorrow', sans-serif;
    color: var(--person-d-color);
}
.person-ballance {
    font-size: 20px;
    font-family: 'Source Sans 3', sans-serif;
    font-style: italic;
    color: #9c9c9c;
}
.token-short {font-size: 15px !important;}
.right {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.person-rank {
    color: var(--person-d-color);
    font-size: 60px;
    font-family: 'Orbitron';
    font-weight: 700;
}
.person:hover {
    transition-duration: 0.4s;
    outline: 3px solid var(--person-hover);
    margin: 19px auto 19px auto;
    cursor: pointer;
}
.person:not(:hover) {transition-duration: 0.3s;}

/* top three rank styles */
/* borders */
.person[rank="1"] {animation: rgb-shuffle 3s infinite linear;}
.person[rank="2"] {outline: 3px solid var(--silver) !important;}
.person[rank="3"] {outline: 3px solid var(--bronze) !important;}
/* name */
.person[rank="1"]:hover > .left > .person-name {transition-duration: 0.4s; color: var(--gold);}
.person[rank="2"]:hover > .left > .person-name {transition-duration: 0.4s; color: var(--silver);}
.person[rank="3"]:hover > .left > .person-name {transition-duration: 0.4s; color: var(--bronze);}

/* mobile styles */
@media only screen and (max-width: 1100px){
    .person {
        width: 60%;
    }
}
@media only screen and (max-width: 700px) {
    .person {
        width: 85%;
        outline: 3px solid var(--person-hover);
    }
    .person[rank="1"] > .left > .person-name {color: var(--gold);}
    .person[rank="2"] > .left > .person-name {color: var(--silver);}
    .person[rank="3"] > .left > .person-name {color: var(--bronze);}
    .board-title {
        font-size: 38px;
    }
}
@media only screen and (max-width: 460px) {
    .board-title {
        font-size: 28px;
        text-align: center;
    }
    #title-break {display: inline;}
    .person-name {
        font-size: 25px;
    }
    .person-ballance {
        font-size: 18px;
    }
    .left {
        width: 65%;
    }
    .right {
        width: 35%;
    }
}
@media only screen and (max-width: 350px) {
    .person {
        width: 90%;
    }
    .person-name {
        font-size: 20px;
    }
    .person-ballance {
        font-size: 16px;
    }
}

/* animation */
@keyframes rotate {
    from {transform: rotate(0deg);} 
    to {transform: rotate(360deg);}
}
@keyframes rgb-shuffle {
    0% {outline-color: #ff0000;}
    4% {outline-color: #ff4000;}
    8% {outline-color: #ff8000;}
    12% {outline-color: #ffbf00;}
    16% {outline-color: #ffff00;}
    20% {outline-color: #bfff00;}
    24% {outline-color: #80ff00;}
    28% {outline-color: #40ff00;}
    32% {outline-color: #00ff00;}
    36% {outline-color: #00ff40;}
    40% {outline-color: #00ff80;}
    44% {outline-color: #00ffbf;}
    48% {outline-color: #00ffff;}
    52% {outline-color: #00bfff;}
    56% {outline-color: #0080ff;}
    60% {outline-color: #0040ff;}
    64% {outline-color: #0000ff;}
    68% {outline-color: #4000ff;}
    72% {outline-color: #8000ff;}
    76% {outline-color: #bf00ff;}
    80% {outline-color: #ff00ff;}
    84% {outline-color: #ff00bf;}
    88% {outline-color: #ff0080;}
    92% {outline-color: #ff0040;}
    96% {outline-color: #ff0020;}
    100% {outline-color: #ff0000;}
}

/* 
    Designed by: Wyatt Moore

    Tyson you owe me 500k
*/